<ng-container *ngIf="Tour">
  <link href="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js"></script>

  <section class="section-header">
    <div class="header__hero">
      <div class="header__hero-overlay">&nbsp;</div>
      <img class="header__hero-img" [src]="'../../../assets/img/tours' + Tour.imageCover" [alt]="Tour.name">
    </div>

    <div class="heading-box">
      <h1 class="heading-primary">
        <span>{{ Tour.name }} tour</span>
      </h1>
      <div class="heading-box__group">
        <div class="heading-box__detail">
          <svg class="heading-box__icon">
            <use xlink:href="../../../assets/img/icons.svg#icon-clock"></use>
          </svg>
          <span class="heading-box__text">{{ Tour.duration }} days</span>
        </div>
        <div class="heading-box__detail">
          <svg class="heading-box__icon">
            <use xlink:href="../../../assets/img/icons.svg#icon-map-pin"></use>
          </svg>
          <span class="heading-box__text">{{ Tour.startLocation.description }}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-description">
    <div class="overview-box">
      <div>
        <div class="overview-box__group">
          <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
          <ng-container *ngIf="Tour.startDates.length">
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="../../../assets/img/icons.svg#icon-calendar"></use>
              </svg>
              <span class="overview-box__label">Next date</span>
              <span class="overview-box__text">{{ Tour.startDates[0] | date: 'MMMM yyyy' }}</span>
            </div>
          </ng-container>
          <div class="overview-box__detail">
            <svg class="overview-box__icon">
              <use xlink:href="../../../assets/img/icons.svg#icon-trending-up"></use>
            </svg>
            <span class="overview-box__label">Difficulty</span>
            <span class="overview-box__text">{{ Tour.difficulty }}</span>
          </div>
          <div class="overview-box__detail">
            <svg class="overview-box__icon">
              <use xlink:href="../../../assets/img/icons.svg#icon-user"></use>
            </svg>
            <span class="overview-box__label">Participants</span>
            <span class="overview-box__text">{{ Tour.maxGroupSize }} people</span>
          </div>
          <div class="overview-box__detail">
            <svg class="overview-box__icon">
              <use xlink:href="../../../assets/img/icons.svg#icon-star"></use>
            </svg>
            <span class="overview-box__label">Rating</span>
            <span class="overview-box__text">{{ Tour.ratingsAverage }} / 5</span>
          </div>
        </div>

        <div class="overview-box__group">
          <h2 class="heading-secondary ma-bt-lg">Your tour guides</h2>
          <div *ngFor="let guide of Tour.guides" class="overview-box__detail">
            <img class="overview-box__img" [src]="'../../../assets/img/users/' + guide.photo" [alt]="guide.name">
            <span class="overview-box__label" *ngIf="guide.role === 'lead-guide'">Lead guide</span>
            <span class="overview-box__label" *ngIf="guide.role === 'guide'">Tour guide</span>
            <span class="overview-box__text">{{ guide.name }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="description-box">
      <h2 class="heading-secondary ma-bt-lg">About {{ Tour.name }} tour</h2>
      <p class="description__text" *ngFor="let p of Tour.description.split('\n')">{{ p }}</p>
    </div>
  </section>

  <section class="section-pictures">
    <div class="picture-box" *ngFor="let img of Tour.images; let i = index">
      <img [src]="'../../../assets/img/tours/' + img" [alt]="'The Park Camper Tour ' + (i + 1)" [class]="'picture-box__img--' + (i + 1)" class="picture-box__img">
    </div>
  </section>

  <!-- <section class="section-map">
    <div id="map" [attr.data-locations]="Tour.locations | json"></div>
  </section> -->

  <section class="section-reviews">
    <div class="reviews">
      <div class="reviews__card" *ngFor="let review of Tour.reviews">
        <div class="reviews__avatar">
          <img class="reviews__avatar-img" [src]="review.user.photo ? ('../../../assets/img/users/' + review.user.photo) : '/assets/img/users/default.jpg'"  [alt]="review.user.name">
          <h6 class="reviews__user">{{ review.user.name }}</h6>
        </div>
        <p class="reviews__text">{{ review.review }}</p>
        <div class="reviews__rating">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <svg class="reviews__star" [ngClass]="{'reviews__star--active': review.rating >= star, 'reviews__star--inactive': review.rating < star}">
              <use xlink:href="../../../assets/img/icons.svg#icon-star"></use>
            </svg>
          </ng-container>
        </div>
      </div>
    </div>
  </section>

  <section class="section-cta">
    <div class="cta">
      <div class="cta__img cta__img--logo">
        <img src="../../../assets/img/logo-round.png" alt="Natours logo">
      </div>
      <img class="cta__img cta__img--1" [src]="'../../../assets/img/tours/' + Tour.images[1]" alt="Tour picture">
      <img class="cta__img cta__img--2" [src]="'../../../assets/img/tours/' + Tour.images[2]" alt="Tour picture">
      <div class="cta__content">
        <h2 class="heading-secondary">What are you waiting for?</h2>
        <p class="cta__text">{{ Tour.duration }} days. 1 adventure. Infinite memories. Make it yours today!</p>
        <button class="btn btn--green span-all-rows" id="book-tour" [attr.data-tour-id]="Tour.id">Book tour now!</button>
        <!-- <a *ngIf="!user" class="btn btn--green span-all-rows" href="/login">Log in to book tour</a> -->
      </div>
    </div>
  </section>
</ng-container>
